*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.message-container{
  background-color: bisque;
  flex: 1;
  padding:20px;
}
.action-container{
display: flex;
}
.message-input{
flex: 0.99;
padding: 30px;
}
.send-button{
width: 100px;
}
.message-arch-container{
  margin-bottom: 20px;
  display: flex;
  border: 1px dashed black;
  padding: 30px 20px;
  border-radius: 20px;
}
.message-info-container{
  margin-left: 10px;

}
.message-sender{
  font-size: 0.9rem;

}